*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(118, 155, 197);
    padding-top: 30px;
    padding-left: 30px;
}

h1{
color: aliceblue;
text-align: center;
}

label{
    color: aliceblue;
    font-size: 20px;
}

.blok-container{
    margin-top: 55px;
}

.oda-container{
    margin-top: 25px;
}

#oda{
    height: 25px;
    width: 50px;
margin-left: 5px;
}

#blok{
    height: 25px;
    width: 50px;
}

h2{
    color: aliceblue;
    margin-top: 40px;
    text-align: center;
}

.secilenOdaTipi, .gunlukTutar{
    margin-top: 25px;
    color: aliceblue;
    font-size: 20px;
    text-align:start;
}

.odaTipi, .gunlukTutarYaz{
    padding-left: 20px;
    font-size: 20px;
    text-align:start;
    color: aqua;
}

.tarih{
    margin-top: 20px;
}

.tarih-yatis{
margin-left: 90px;
}

.tarih-taburcu{
    margin-left: 67px;
    }

.p-tarih-yatis, .p-tarih-taburcu, .p-tutar{
    margin-top: 25px;
    color: aliceblue;
    font-size: 20px;
    text-align:start;
}

.p-tarih-yatis-yaz, .p-tarih-taburcu-yaz, .p-tutar-yaz{
    padding-left: 20px;
    font-size: 20px;
    text-align:start;
    color: aqua;
}

.gun-sayisi{
    margin-top: 25px;
    margin-left: 26px;
    width: 147px;
}

@media (max-width: 420px){

    p, label{
        font-size: 14px;
    }
    .tarih-yatis{
        margin-left: 20px;
       
        }

        .tarih-taburcu{
            margin-left: 1px;
            }

            .gun-sayisi{
                margin-top: 25px;
                margin-left: 1px;
                width: 115px;
            }
}