*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(118, 155, 197);
    padding-top: 30px;
    padding-left: 30px;
}

h1{
    font-size: 50px;
color: aliceblue;
text-align: center;
}

label{
    color: aliceblue;
    font-size: 20px;
}

.blok-container{
    margin-top: 55px;
}

.oda-container{
    margin-top: 25px;
}

#oda{
    height: 25px;
    width: 60px;
margin-left: 5px;
}

#blok{
    height: 25px;
    width: 60px;
}

h2{
    color: aliceblue;
    margin-top: 40px;
    text-align: left;
    font-size: 35px;
}

.secilenOdaTipi, .gunlukTutar, .p-tarih-yatis, .p-tarih-taburcu, .p-kalinan-gun, .p-tutar{
    margin-top: 25px;
    color: aliceblue;
    font-size: 20px;
    text-align:start;
}

.odaTipi, .gunlukTutarYaz{
    padding-left: 20px;
    font-size: 20px;
    text-align:start;
    color: aqua;
}

.tarih{
    margin-top: 20px;
}

.tarih-yatis{
margin-left: 55px;
}

.tarih-taburcu{
    margin-left: 30px;
    }



.p-tarih-yatis-yaz, .p-tarih-taburcu-yaz, .p-tutar-yaz, .p-kalinan-gun-yaz{
    padding-left: 20px;
    font-size: 20px;
    text-align:start;
    color: aqua;
}

.gun-sayisi{
    margin-top: 25px;
    margin-left: 26px;
    width: 147px;
}

button{
    padding: 5px;
}

.hesapla, .reset{
    margin-left: 10px;
}

table, th, td{
    width: 500px;
    padding: 15px;      
    text-align: left;
    border: 1px solid rgb(250, 244, 244);            
     border-collapse: collapse;       
}

table{
   margin-top: 25px;
}
@media (max-width: 420px){
   


    .tarih-yatis{
        margin-left: 25px;
       
        }

        .tarih-taburcu{
            margin-left: 2px;
            }

            .gun-sayisi{
                margin-top: 25px;
                margin-left: 1px;
                width: 108px;
            }

            table, th, td{
                width: 300px;
                padding: 5px;      
                text-align: left;
                border: 1px solid rgb(250, 244, 244);            
                 border-collapse: collapse;       
            }
}



